{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    Bahrain Rates
    {% endblock %}
</head>

{% block content %}
<body>


<div class="row py-5 mt-5">
    <div class="container">
        <h2 class="text-right">Bahrain Limousine Rates</h2>
        <p>Searching for Bahrain to KSA taxi services? Check out our cheapest trip rates and enjoy affordable limousine service in Bahrain. We provide you with all required facilities to ensure your comfort and pleasure despite of whether you are a resident traveller or distant customer. You can also choose your preferred vehicle from our fleet as per your convenience and comfort.</p>
<!--        <img src="{% static 'images/img2.jpeg' %}" style="width:100px height:50px">-->

        <div class="has_serial_number">
						<div class="row justify-content-lg-between">
							<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
								<div class="serial_number text-right aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                                    <img src="{% static 'images/img2.jpeg' %}">
									<h4 class="mb-0"> </h4>
								</div>
							</div>


							<!-- Page Content -->
							<div class="page-heading header-text">
								<div class="container">
									<div class="row">

									</div>
								</div>
							</div>

							<div class="more-info about-info" style="margin-top:50px;">
								<div class="container">
									<div class="row">
								<div class="col-md-12">
											<div class="section-heading" style="border:opx solid black;margin-bottom:50px;text-align:left;">
												<h2>Transfer Rates within Bahrain</h2>
												<span>Enjoy your travel</span>
											</div>
										</div>

										<div class="col-md-4 box" style="background-color:rgba(146,146,146,0.10);">
											<div class="more-info-content">
												<div class="row">
													<div class="col-md-12 align-self-center" style="border:0px solid silver;padding:25px;">
														<div class="right-content">
															<span>Transfer Rates within Bahrain</span>
															<h4 style="color:silver;">Transfer from/to the Airport to/from  <em><strong>Zone 1</strong></em></h4>
											<hr>
											<h5 style="color:gray;">Executive Sedan</h5>
											<h6><strong>28.00 BD</strong></h6>
											<br>
											<h5 style="color:gray;">SUV</h5>
											<h6><strong>17.00 BD</strong></h6>
											<br>
											<h5 style="color:gray;">Standard Sedan</h5>
											<h6><strong>15.00 BD</strong></h6>
														</div>
										<hr>
										<span style="color:rgba(0,125,160,1.00);">Covers Manama, Diplomatic Area, Muharraq, Busiateen, Hidd, Galali, Diyar Al Muharraq, Amwaj	</span>
													</div>
												</div>
											</div>
										</div>


								<div class="col-md-4 box" style="background-color:rgba(146,146,146,0.20);">
											<div class="more-info-content">
												<div class="row">
													<div class="col-md-12 align-self-center" style="border:0px solid silver;padding:25px;">
														<div class="right-content">
															<span>Transfer Rates within Bahrain</span>
															<h4 style="color:silver;">Transfer from/to the Airport to/from  <em><strong>Zone 2</strong></em></h4>
											<hr>
											<h5 style="color:gray;">Executive Sedan</h5>
											<h6><strong>32.00 BD</strong></h6>
											<br>
											<h5 style="color:gray;">SUV</h5>
											<h6><strong>20.00 BD</strong></h6>
											<br>
											<h5 style="color:gray;">Standard Sedan</h5>
											<h6><strong>17.00 BD</strong></h6>
														</div>
										<hr>
										<span style="color:rgba(0,125,160,1.00);">Covers Sitra, Isa Town, Sanad, Aali, Riffa, Janabiya	</span>
													</div>
												</div>
											</div>
										</div>


								<div class="col-md-4 box" style="background-color:rgba(146,146,146,0.10);">
											<div class="more-info-content">
												<div class="row">
													<div class="col-md-12 align-self-center" style="border:0px solid silver;padding:25px;">
														<div class="right-content">
															<span>Transfer Rates within Bahrain</span>
															<h4 style="color:silver;">Transfer from/to the Airport to/from  <em><strong>Zone 3</strong></em></h4>
											<hr>
											<h5 style="color:gray;">Executive Sedan</h5>
											<h6><strong>40.00 BD</strong></h6>
											<br>
											<h5 style="color:gray;">SUV</h5>
											<h6><strong>25.00 BD</strong></h6>
											<br>
											<h5 style="color:gray;">Standard Sedan</h5>
											<h6><strong>20.00 BD</strong></h6>
														</div>
										<hr>
										<span style="color:rgba(0,125,160,1.00);">Covers Hamad Town, Zallaq, BIC, King Fahad Causeway, Durrat Al Bahrain	</span>
													</div>
													</div>
												</div>
											</div>
										</div>


									</div>
								</div>



						 <div class="more-info about-info" style="margin-top:50px;">
								<div class="container">
									<div class="row">
								<div class="col-md-12">
											<div class="section-heading" style="border:opx solid black;margin-bottom:50px;text-align:left;">
												<h4>Hourly Chauffeured Service <em></em></h4>
												<span></span>
											</div>
										</div>

										<div class="col-md-3 box" style="background-color:;border:2px solid silver;">
											<div class="more-info-content">
												<div class="row">
													<div class="col-md-12 align-self-center" style="border:0px solid silver;padding:25px;">
														<div class="right-content">
															<span>Chauffeured Service</span>
															<h4 style="color:silver;"> <em>Standard Sedan</em></h4>
											<hr>
											<h5 style="color:gray;">Per Hour</h5>
											<h6><strong>12.00 BD</strong></h6>
												<h6>(Minimum 3 hours)</h6>
											<br>
											<h5 style="color:gray;">Per Day/8 Hours</h5>
											<h6><strong>80.00 BD</strong></h6>
											<br>
											<h5 style="color:gray;">Extra Hours</h5>
											<h6><strong>8.00 BD per hour</strong></h6>
														</div>

													</div>
												</div>
											</div>
										</div>

							 <div class="col-md-3 box" style="background-color:;border:2px solid silver;">
											<div class="more-info-content">
												<div class="row">
													<div class="col-md-12 align-self-center" style="border:0px solid silver;padding:25px;">
														<div class="right-content">
															<span>Chauffeured Service</span>
															<h4 style="color:silver;"> <em>Executive Sedan</em></h4>
											<hr>
											<h5 style="color:gray;">Per Hour</h5>
											<h6><strong>30.00 BD</strong></h6>
												<h6>(Minimum 3 hours)</h6>
											<br>
											<h5 style="color:gray;">Per Day/8 Hours</h5>
											<h6><strong>200.00 BD</strong></h6>
											<br>
											<h5 style="color:gray;">Extra Hours</h5>
											<h6><strong>20.00 BD per hour</strong></h6>
														</div>

													</div>
												</div>
											</div>
										</div>

								<div class="col-md-3 box" style="background-color:;border:2px solid silver;">
											<div class="more-info-content">
												<div class="row">
													<div class="col-md-12 align-self-center" style="border:0px solid silver;padding:25px;">
														<div class="right-content">
															<span>Chauffeured Service</span>
															<h4 style="color:silver;"> <em>SUV</em></h4>
											<hr>
											<h5 style="color:gray;">Per Hour</h5>
											<h6><strong>15.00 BD</strong></h6>
												<h6>(Minimum 3 hours)</h6>
											<br>
											<h5 style="color:gray;">Per Day/8 Hours</h5>
											<h6><strong>100.00 BD</strong></h6>
											<br>
											<h5 style="color:gray;">Extra Hours</h5>
											<h6><strong>10.00 BD per hour</strong></h6>
														</div>

													</div>
												</div>
											</div>
										</div>


							<div class="col-md-3 box" style="background-color:;border:2px solid silver;">
											<div class="more-info-content">
												<div class="row">
													<div class="col-md-12 align-self-center" style="border:0px solid silver;padding:25px;">
														<div class="right-content">
															<span>Chauffeured Service</span>
															<h4 style="color:silver;"> <em>Vans</em></h4>
											<hr>
											<h5 style="color:gray;">Per Hour</h5>
											<h6><strong>25.00 BD</strong></h6>
												<h6>(Minimum 3 hours)</h6>
											<br>
											<h5 style="color:gray;">Per Day/8 Hours</h5>
											<h6><strong>150.00 BD</strong></h6>
											<br>
											<h5 style="color:gray;">Extra Hours</h5>
											<h6><strong>15.00 BD per hour</strong></h6>
														</div>

													</div>
												</div>
											</div>
										</div>




									</div>
								</div>
							</div>




					</div>
				</div>
    </div>

</body>
{% endblock %}
</html>