{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    Gallery
    {% endblock %}
</head>
{% block content %}
<body>

<div class="container col-md">
             <div class="row py-5 mt-5">
                <div class="col-12 text-center mb-2">
                    <ul class="list-inline mb-4" id="portfolio-flters">
                        <h2 class="text-uppercase display-4">Our Cars</h2>
                    </ul>
                </div>
            </div>
            <div class="row portfolio-container ">
                <div class="col-lg-4 col-md-6 mb-4 portfolio-item first">
                    <div class="position-relative mb-2">
                        <img class="img-fluid w-100 " src="{% static 'images/car7.jpg' %}" alt="">
                        <div class="bg-secondary text-center p-4">
                            <h4 class="mb-3">Full Name</h4>
                            <p class="text-uppercase">Rate</p>
<!--                            <div class="d-inline-block">-->
<!--                                <a class="mx-2" href="#"><i class="fab fa-twitter"></i></a>-->
<!--                                <a class="mx-2" href="#"><i class="fab fa-facebook-f"></i></a>-->
<!--                                <a class="mx-2" href="#"><i class="fab fa-linkedin-in"></i></a>-->
<!--                                <a class="mx-2" href="#"><i class="fab fa-instagram"></i></a>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 portfolio-item second">
                    <div class="position-relative mb-2">
                        <img class="img-fluid w-100 " src="{% static 'images/car3.jpeg' %}" alt="">
                        <div class="bg-secondary text-center p-4">
                            <h4 class="mb-3">Full Name</h4>
                            <p class="text-uppercase">Rate</p>
<!--                            <div class="d-inline-block">-->
<!--                                <a class="mx-2" href="#"><i class="fab fa-twitter"></i></a>-->
<!--                                <a class="mx-2" href="#"><i class="fab fa-facebook-f"></i></a>-->
<!--                                <a class="mx-2" href="#"><i class="fab fa-linkedin-in"></i></a>-->
<!--                                <a class="mx-2" href="#"><i class="fab fa-instagram"></i></a>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 portfolio-item first">
                    <div class="position-relative mb-2">
                        <img class="img-fluid w-100" src="{% static 'images/car4.jpeg' %}" alt="">
                        <div class="bg-secondary text-center p-4">
                            <h4 class="mb-3">Full Name</h4>
                            <p class="text-uppercase">Rate</p>
<!--                            <div class="d-inline-block">-->
<!--                                <a class="mx-2" href="#"><i class="fab fa-twitter"></i></a>-->
<!--                                <a class="mx-2" href="#"><i class="fab fa-facebook-f"></i></a>-->
<!--                                <a class="mx-2" href="#"><i class="fab fa-linkedin-in"></i></a>-->
<!--                                <a class="mx-2" href="#"><i class="fab fa-instagram"></i></a>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 portfolio-item second">
                    <div class="position-relative mb-2">
                        <img class="img-fluid w-100" src="{% static 'images/car5.jpeg' %}" alt="">
                        <div class="bg-secondary text-center p-4">
                            <h4 class="mb-3">Full Name</h4>
                            <p class="text-uppercase">Rate</p>
<!--                            <div class="d-inline-block">-->
<!--                                <a class="mx-2" href="#"><i class="fab fa-twitter"></i></a>-->
<!--                                <a class="mx-2" href="#"><i class="fab fa-facebook-f"></i></a>-->
<!--                                <a class="mx-2" href="#"><i class="fab fa-linkedin-in"></i></a>-->
<!--                                <a class="mx-2" href="#"><i class="fab fa-instagram"></i></a>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 portfolio-item first">
                    <div class="position-relative mb-2" >
                        <img class="img-fluid w-100" src="{% static 'images/car-5.jpeg' %}" alt="">
                        <div class="bg-secondary text-center p-4">
                            <h4 class="mb-3">Full Name</h4>
                            <p class="text-uppercase">Rate</p>
<!--                            <div class="d-inline-block">-->
<!--                                <a class="mx-2" href="#"><i class="fab fa-twitter"></i></a>-->
<!--                                <a class="mx-2" href="#"><i class="fab fa-facebook-f"></i></a>-->
<!--                                <a class="mx-2" href="#"><i class="fab fa-linkedin-in"></i></a>-->
<!--                                <a class="mx-2" href="#"><i class="fab fa-instagram"></i></a>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 portfolio-item second">
                    <div class="position-relative mb-2">
                        <img class="img-fluid w-100" src="{% static 'images/car-1.jpeg' %}" alt="">
                        <div class="bg-secondary text-center p-4">
                            <h4 class="mb-3">Full Name</h4>
                            <p class="text-uppercase">Rate</p>
<!--                            <div class="d-inline-block">-->
<!--                                <a class="mx-2" href="#"><i class="fab fa-twitter"></i></a>-->
<!--                                <a class="mx-2" href="#"><i class="fab fa-facebook-f"></i></a>-->
<!--                                <a class="mx-2" href="#"><i class="fab fa-linkedin-in"></i></a>-->
<!--                                <a class="mx-2" href="#"><i class="fab fa-instagram"></i></a>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
</div>

</body>
{% endblock %}
</html>