{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    Saudi Rates
    {% endblock %}
</head>
{% block content %}
<body>
<div class="row py-5 mt-5">
    <div class="container">
        <h2 class="text-right">Saudi Arabia Limousine Rates</h2>
        <p>ABC provides services including Bahrain to KSA chauffeur service, taxi services to and from Bahrain, Saudi Arabia, Al-Khober, Dammam city, Dammam Airport, Ras Tanoura, Jubail city, Riyadh, Bahrain airport transfers and Bahrain to Saudi taxi services. We look forward to fulfil your specific transportation needs including timely pick-ups, luggage handling assistance and terminal drop-off at desired locations.</p>
        <img src="{% static 'images/img3.jpeg' %}" class="w-50">

        <div class="more-info about-info" style="margin-top:50px;">
								<div class="container">
									<div class="row">
								<div class="col-md-12">

										</div>

										<div class="col-md-3 box" style="background-color:;border:2px solid silver;">
											<div class="more-info-content">
												<div class="row">
													<div class="col-md-12 align-self-center" style="border:0px solid silver; width: auto; padding:25px;">
														<div class="right-content">
															<span>Chauffeured Service</span>
															<h4 style="color:#d07500;"> <em>Bahrain to KSA</em></h4>
											<hr>

											<h6><strong>Alkhobar – One Way</strong></h6>

											<br>
											<h5 style="color:gray;">Per Day/8 Hours</h5>
											<h6><strong>40.00 BD</strong></h6>
											<br>
											<h5 style="color:gray;">Extra Hours</h5>
											<h6><strong>45.00 BD per hour</strong></h6>
														</div>

													</div>
												</div>
											</div>
										</div>

							 <div class="col-md-3 box" style="background-color:;border:2px solid silver;">
											<div class="more-info-content">
												<div class="row">
													<div class="col-md-12 align-self-center" style="border:0px solid silver;padding:25px;">
														<div class="right-content">
															<span>Chauffeured Service</span>
															<h4 style="color:#d07500;"> <em>Sedan</em></h4>
											<hr>

											<h6><strong>40.00 BD</strong></h6>

											<br>
											<h5 style="color:gray;">Per Day/8 Hours</h5>
											<h6><strong>200.00 BD</strong></h6>
											<br>
											<h5 style="color:gray;">Extra Hours</h5>
											<h6><strong>20.00 BD per hour</strong></h6>
														</div>

													</div>
												</div>
											</div>
										</div>

								<div class="col-md-3 box" style="background-color:;border:2px solid silver;">
											<div class="more-info-content">
												<div class="row">
													<div class="col-md-12 align-self-center" style="border:0px solid silver;padding:25px;">
														<div class="right-content">
															<span>Chauffeured Service</span>
															<h4 style="color:#d07500;"> <em>SUV</em></h4>
											<hr>

											<h6><strong>45.00 BD</strong></h6>

											<br>
											<h5 style="color:gray;">Per Day/8 Hours</h5>
											<h6><strong>100.00 BD</strong></h6>
											<br>
											<h5 style="color:gray;">Extra Hours</h5>
											<h6><strong>10.00 BD per hour</strong></h6>
														</div>

													</div>
												</div>
											</div>
										</div>

                                        <div class="container">
									<div class="row">
								<div class="col-md-12">

										</div>


									</div>
								</div>


									</div>
								</div>
							</div>
    </div>
 </div>
</body>
{% endblock %}
</html>